/* You can add global styles to this file, and also import other style files */

* {
  font-family: sans-serif;
}

.aclass {
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(1px 1px 1px rgb(115, 112, 112));
}
